---
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80

# 允许重新排版注释
ReflowComments: true
# 允许排序#include
SortIncludes: false

# 左对齐逃脱换行(使用反斜杠换行)的反斜杠
AlignEscapedNewlinesLeft: true
AlignEscapedNewlines: Left
# 水平对齐二元和三元表达式的操作数
AlignOperands: true
# 对齐连续的尾随的注释
AlignTrailingComments: false

# 连续赋值时，对齐所有等号
AlignConsecutiveAssignments: false
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations: false
# 数组对齐方式
AlignArrayOfStructures: Left

# 允许短的块放在同一行
AllowShortBlocksOnASingleLine: false
# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: false
# 允许短的函数放在同一行: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: None
# 允许短的if语句保持在同一行
AllowShortIfStatementsOnASingleLine: false
# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false

# 允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine: true
# false表示函数实参要么都在同一行，要么都各自一行
BinPackArguments: false
# false表示所有形参要么都在同一行，要么都各自一行
BinPackParameters: false

# 连续空行的最大数量
MaxEmptyLinesToKeep: 1
# 保留在块开始处的空行
KeepEmptyLinesAtTheStartOfBlocks: false

# 将函数的返回类型放到它自己的行的penalty
PenaltyReturnTypeOnItsOwnLine: 80

#AlignOperands: BreakBeforeBinaryOperators
BreakBeforeBinaryOperators: false

# 开括号(开圆括号、开尖括号、开方括号)后的对齐: (如果参数不能适应单行)
# Align, DontAlign, AlwaysBreak， BlockIndent
AlignAfterOpenBracket: BlockIndent
